{% extends 'layout.html.twig' %}

{% block body %}
    <div ng-app="app">
        <div ng-controller="AdressBookCtrl" class="container">
            <h3>My contacts</h3>

            <div class="row">

                <div ng-repeat="contact in contacts">

                    <div class="card col m4" ng-repeat="details in contact">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator"
                                 src="http://xaharts.org/funny/i/gitopuss/github-octocat_yes-we-code.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4">|| details.username ||<i
                                        class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4">|| details.username ||<i
                                        class="material-icons right">close</i></span>

                            <p>
                                Phone : || details.phone_number ||<br>
                                Adress : || details.adress ||
                            </p>

                            <button class="waves-effect waves-light btn" ng-click="delete(details.id)">delete</button>
                            <button class="waves-effect waves-light btn" ng-click="locate(details.adress)">locate</button>
                        </div>
                    </div>
                </div>

            </div>


            <h3>Find a contact</h3>
            <from>
                <input name="search" type="text" placeholder="Search user" ng-model="value">
                <input type="button" value="Search" ng-click="search()">
            </from>
            <div>username : || searchResult.username || phone : || searchResult.phone_number|| adress : ||
                searchResult.adress ||
                <button ng-click="add(searchResult.id)">Add</button>
            </div>
            <div id="map"></div>
        </div>

    </div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}
    <script>
        var user = "{{ user }}";
    </script>
    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <script src="{{ asset('/assets/vendor/angular/angular.min.js') }}"></script>
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}